{% extends 'layout_pure.html.twig' %}

{% block title %}Languages{% endblock %}

{% block content %}
    <table class="monospace">
        <tr>
            <th>Id</th>
            <th>Locale</th>
            <th>Name</th>
            <th>Actions</th>
            <th style="text-align: right;">Status</th>
        </tr>
        {% for language in languages %}
            <tr class="{{ cycle(['odd', 'even'], loop.index0) }}">
                <td>{{ language.id }}</td>
                <td>{{ language.locale }}</td>
                <td>{{ language.name }}</td>
                <td>
                    <a href="{{ path('Language::Translate', { 'from': 1, 'to': language.id }) }}">Show</a>,
                    {% if (translations[language.id]|length / tokens|length) < 1 %}
                        <a href="{{ path('Language::Translate', { 'from': 1, 'to': language.id, 'mode': 1 }) }}">Translate</a>,
                    {% endif %}
                    <a href="{{ path('Language::Edit', { 'id': language.id}) }}">Edit Language</a>
                </td>
                <td style="text-align: right;">
                    {{ ((translations[language.id]|length / tokens|length) * 100)|number_format(2) }}%
                </td>
            </tr>
        {% endfor %}
    </table>
    <div class="align-{{ _right }}">
        <a href="{{ path('Language::Add') }}">Add Language</a>,
        <a href="{{ path('Language::TokenAdd') }}">Add Token</a>
    </div>
{% endblock %}